<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weBlog</title>
    <link rel="stylesheet" href="/home_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand " href="# ">Navbar</a>
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
          <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " href="/ ">Home <span class="sr-only ">(current)</span></a>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                Categories
              </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown ">
                        <a class="dropdown-item " href="# ">Travel & Food</a>
                        <a class="dropdown-item " href="# ">Sports</a>
                        <a class="dropdown-item " href="# ">News & Entertainment</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2 " type="search " placeholder="Search " aria-label="Search ">
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">Search</button>
            </form>
        </div>
    </nav>

    <header class="header">
        <a href="/blogs/new " class="bttn bttn-white bttn-animated">Write a blog</a>
        
    </header>
    <div class="container ">
            
    
        <div class="row justify-content-around ">
            <% for(let c of blogs) { %>
                <div class="card mr-1 mt-5 " style=" min-width: 18rem; max-width: 18rem; background-color: linen; ">
                    <div class="card-header " style="background-color:cornflowerblue; ">
                        <b>
                            <%= c.title %>
                        </b>
                    </div>
                    <div class="card-body ">
                        <p class="card-text ">
                            <% if(c.blog.length < 150) { %>
                                <%= c.blog%>
                                    <% } else { %>
                                        <%= c.blog.slice(0,150) + '...............' %>
                                            <% } %>
                        </p>
                        <blockquote class="blockquote mb-0 ">
                            <footer class="blockquote-footer ">
                                <%= c.username %> &nbsp; <cite title="Source Title "><%= c.dur%> min read</cite></footer>
                        </blockquote>
                    </div>
                    <div class="class-footer align-self-center ">
                        <a href="/blogs/<%=c .id %>" class="btn btn-success" style="margin-bottom:3px;"> Full details</a>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    

</body>

</html>