<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weBlog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</head>

<body>

    <div class="container" style="background: cornsilk; min-height: 100vh; margin-top: 10px; ">
        <div style="background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(190,244,125,1) 0%, rgba(0,212,255,1) 100%); padding-top: 10px; padding-bottom: 7px ;">
            <p>
                <h1 style="text-align: center;">
                    <%= blog.title%>
                </h1>
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer" style="text-align: right;">
                        <%= blog.username %>
                    </footer>
                </blockquote>
            </p>
        </div>
        <div style="padding: 0 20px">
            <p>
                <%= blog.blog %>
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">
                            <%= blog.username %> &nbsp; <cite title="Source Title"><%= blog.dur%> min read</cite></footer>
                    </blockquote>
            </p>
        </div>
        <div>
            <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
                <a href="/blogs/<%=blog.id%>/edit" class="btn btn-primary">Edit your blog</a>
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

    <a href="/blogs">Back to home page</a>
</body>

</html>